.container {
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
  border-radius: 10px;
  position: relative;
  margin-top: 4rem;
}

.table {
  padding: 2rem 4rem;
}

.table thead {
  background: linear-gradient(45deg, #5a00dd, #684efb);
  color: #fff;
}

.semi-bold {
  font-weight: 500;
}
